.mainHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.5rem;
}

.mainHome .linkBtn {
  width: 5.5% !important;
}

.form-label {
  font-size: 1.6rem;
}

.input-group {
  gap: 2rem;
}
