.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1500px;
  gap: 2.5rem;
}

.input-group-text {
  font-size: 2rem;
}

.form-control {
  padding: 1rem !important;
  font-size: 1.1rem !important;
  width: 100%;
  font-weight: bold;
}

#inputSearch {
  width: 45%;
}

.table-dark th {
  text-align: center !important;
}

.btn {
  font-size: 1.3rem !important;
}

.form-check-input:checked {
  background-color: hsl(145, 86%, 48%) !important;
  border-color: hsl(145, 86%, 48%) !important;
}

.table-success {
  --bs-table-bg: hsla(145, 100%, 75%, 0.3) !important;
  --bs-table-striped-bg: hsla(145, 100%, 75%, 0.3) !important;
}

.form-floating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-floating button a {
  text-decoration: none;
  color: #fff;
}

.form-select-lg {
  font-size: 1.6rem;
}

@media screen and (max-width: 400px) {
  .btn {
    font-size: 1rem !important;
  }

  .table-group-divider tr td {
    font-size: 0.8rem !important;
    text-align: center !important;
  }
}
