.formRgt{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .formRgt {
    width: 750px;
  }
}

@media screen and (max-width: 740px) {
  body {
    justify-content: unset !important;
  }
}
